# Ver documentación sobre ignorar archivos en GitHub: https://help.github.com/articles/ignoring-files/

# Dependencias
/node_modules
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing y Cobertura
/coverage

# Archivos generados por Next.js
/.next/
**/.next
/out/

# Archivos de producción (en caso de tener una carpeta de build)
/build
/backend/build
/frontend/build

# Archivos y configuraciones del sistema
.DS_Store
Thumbs.db

# Llaves y certificados
*.pem

# Logs de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.*.local
.env.local

# Configuración específica de Vercel
.vercel

# Archivos de TypeScript
*.tsbuildinfo
next-env.d.ts

# Archivos de configuración de editores de código y sistema
.idea/
.vscode/
*.swp
*~

# Ignorar otras carpetas específicas del proyecto
/backend/node_modules
/frontend/node_modules

# Ignorar archivos compilados
/backend/dist
